<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets" 
   xmlns:gap = "http://phonegap.com/ns/1.0" id = "com.cynthiagladden.graph410" version = "1.0">
   
   <name>Graph X</name>
   
   <description>
     Graph X
   </description>
   
   <author href = "http://cynthiagladden.com" email = "cerenee@sbcglobal.net">
      Cynthia Gladden
   </author>
   
   <preference name = "permissions" value = "none"/>
   
   <icon src = "Images/android/ldpi/playstore-icon.png" 
      gap:platform = "android" gap:qualifier = "ldpi" />
		
   <icon src = "Images/android/mdpi/playstore-icon.png" 
      gap:platform = "android" gap:qualifier = "mdpi" />
		
   <icon src = "Images/android/hdpi/plystore-icon.png" 
      gap:platform = "android" gap:qualifier = "hdpi" />
		
   <icon src = "Images/android/-xhdpi/playstore-icon.png" 
      gap:platform = "android" gap:qualifier = "xhdpi" />
		
   <icon src = "res/icon/android/xxhdpi/playstore-icon.png" 
      gap:platform = "android" gap:qualifier = "xxhdpi" />
   
   <icon src = "Images/ios/Icon-72.png" gap:platform = "ios" gap:qualifier = ""/>
   <icon src = "Images/ios/icon-57.png" gap:platform = "ios" width = "57" height = "57" />
   <icon src = "Images/ios/icon-72.png" gap:platform = "ios" width = "72" height = "72" />
   <icon src = "Images/ios/icon-57-2x.png" gap:platform = "ios" width = "114" height = "114" />
   <icon src = "Images/ios/icon-72-2x.png" gap:platform = "ios" width = "144" height = "144" />
   
</widget>